<div class="container">
	<div class="well well-md">
	
		<h1>About the property calculator app</h1>

		<p>This web application is designed to allow users to assess and evaluate property investments.  
		The user sets up the assets and scenarios before running a variety of analytics</p>
		
	</div>
</div>
