<div class="jumbotron">
  <div class="container-fluid">
    <h1>Welcome to the Property Calculator</h1>
    <p>A WEB APPLICATION FOR ANALYSING PROPERTY INVESTMENTS.</p>
  </div>
</div>

<div class='row'>
	<div class="col-sm-offset-5 col-sm-7">
		<button type="button" class="btn btn-large btn-basic">
  			<%= link_to "Go to properties page", properties_path %>
		</button>
	</div>
</div>