<div class="container">
	<footer class="footer">

		<small>
			<br />
			<hr />
			Copyright © The Property Calculator App</a>
			by Danny Radnor</a>
		</small>
	
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	
	</footer>

</div>